@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
:root {
  --main-color: rgb(5 8 22);
  --btn-color: #1d7ddd;
  --text-color: #d6dee5;
  --background-color: linear-gradient(to right, #8090ab, #596c94);
  --transition: all 0.5s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn-color) var(--main-color);
}
html {
  font-size: 90%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--background-color);
  overflow: hidden;
}
h2 {
  line-height: 1;
}
.header-area {
  position: fixed;
  background: var(--main-color);
  z-index: 1000;
  height: 5rem;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.header-area .container {
  top: 20%;
  left: 10%;
  padding: 1.7rem;
  position: absolute;
  width: 80%;
}

.header-area .logo {
  font-size: 2.6rem;
  left: 0;
  position: absolute;
  top: 0.3rem;
  color: #eee;
  font-family: 'Merriweather', serif;
  font-style: oblique;
}

.header-area .links-container {
  position: fixed;
  right: 10%;
  top: 1.9rem;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in;
  background: #050816d6;
  border-radius: 1.2rem;
}

.header-area .links-container.active {
  top: 4rem;
  opacity: 1;
}

.header-area .links li {
  display: inline-block;
  margin-left: 2rem;
}

.header-area .links li a {
  color: var(--btn-color);
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header-area .links li a::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 4rem;
  border-radius: 63px;
  background-color: var(--btn-color);
  bottom: -21.5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.header-area .links li a:hover::before {
  transform: translateX(-50%) scaleX(1);
}

.header-area .toggle-menu {
  background: none;
}

.toggle-menu .bar {
  border-radius: 2px;
  transition: 0.8s;
}

.header-area .toggle-menu span {
  display: block;
  background-color: var(--btn-color);
  height: 0.29rem;
  margin-bottom: 0.5rem;
}

.toggle-menu.active .top {
  transform: rotate(-132deg) translate(-0.8rem, -0.6rem);
}

.toggle-menu.active .middle {
  opacity: 0;
}

.toggle-menu.active .bottom {
  transform: rotate(-48deg) translate(0.4rem, -0.4rem);
}

/* Mobile Styles  */
@media (max-width: 870px) {
  .header-area .logo {
    font-size: 2rem;
  }

  .header-area .toggle-menu {
    position: absolute;
    cursor: pointer;
    width: 2.4rem;
    height: 2.5rem;
    top: 0.6rem;
    right: 0;
  }
  .header-area .links-container {
    width: 100%;
    right: 0;
    top: -100%;
  }

  .header-area .links {
    display: grid;
    width: 100%;
  }

  .header-area .links li {
    margin-left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  .header-area .links li a {
    font-size: 1.7rem;
  }
  .header-area .links li a::before {
    bottom: -2px;
    width: 6rem;
  }
}
/* Start Home Page */
.home-page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.home-page .container {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 100%;
}
#home {
  opacity: 0;
  position: absolute;
  width: 50%;
  top: 33%;
  left: 0%;
  transform: translateX(-3rem);
  transition: all 0.5s ease-in;
  z-index: 1;
}
#home.active1 {
  opacity: 1;
  transform: translateX(0);
}

.introduction-text .content h2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--heading-color);
}
.introduction-text .content h2 span {
  color: var(--heading-color);
}
.introduction-text .content p {
  font-size: 1.5rem;
  margin-top: 0.4rem;
  color: var(--text-color);
  font-weight: 600;
}
.socials .social-icons {
  position: absolute;
  margin-top: 5.5rem;
  width: 100%;
}
.socials .social-icons li {
  display: inline-block;
}
.social-icons a {
  font-size: 1.9rem;
  display: inline-block;
  line-height: 3.5rem;
  color: var(--btn-color);
  background-color: var(--main-color);
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  margin-right: 0.3rem;
  border-radius: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: var(--main-color);
  background-color: var(--btn-color);
}

.introduction-text .about-btn {
  position: absolute;
  width: 100%;
  margin-top: 1rem;
}
.introduction-text .about-btn span {
  font-weight: bold;
}
.introduction-text .btn {
  position: absolute;
  padding: 0.7rem 0;
  width: 10rem;
  text-align: center;
  border-radius: 3em;
  font-size: 1.2rem;
  color: var(--btn-color);
  background: var(--main-color);
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.5);
  font-family: 'Nunito', sans-serif;
}
.introduction-text .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.introduction-text .btn:hover {
  background: var(--btn-color);
  color: var(--main-color);
}
.introduction-text .btn:hover i {
  transform: translateX(5px);
}
.tilt-wrapper {
  opacity: 0;
  position: absolute;
  transform: translateX(3rem);
  top: 30%;
  max-width: 20rem;
  right: 0;
  transition: all 0.5s ease-in;
  z-index: 0;
  perspective: 35rem;
}
.home-page .active2 {
  opacity: 1;
  transform: translateX(0);
}
.img-cont {
  position: absolute;
  width: 100%;
}
.tilt-card {
  transform-style: preserve-3d;
  transition: all 0.5s ease-in;
}
.tilt-card img {
  width: 100%;
  transition: all 0.5s ease-in;
  transform: scale(1);
  border-radius: 3rem;
  box-shadow: 20px 20px 20px #00000085;
}
.tilt-card:hover img {
  transform: scale(1.05);
}
@media (max-width: 870px) {
  .home-page .container {
    text-align: center;
  }
  #home {
    width: 100%;
    top: 14%;
  }
  .introduction-text .btn {
    left: calc(50% - 4rem);
    width: 8rem;
    font-size: 1rem;
  }
  .introduction-text .btn i {
    font-size: 1rem;
  }
  .social-icons a {
    font-size: 2rem;
    line-height: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }
  .tilt-wrapper {
    max-width: 100%;
    left: 5%;
    top: 62%;
  }
  .tilt-wrapper.active2 {
    left: 0;
  }
  .tilt-card img {
    max-width: 18rem;
  }
}
@media (max-width: 480px) {
  #home {
    top: 13%;
  }
  .introduction-text .content h2 {
    font-size: 2.3rem;
  }
  .introduction-text .content p {
    font-size: 1.2rem;
  }
  .social-icons a {
    font-size: 1.4rem;
    line-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  .tilt-card img {
    max-width: 16rem;
  }
}
/* End Home Page */
.about-me {
  padding-top: 3rem;
  text-align: center;
  min-height: 95vh;
}
.about-me .container {
  width: 80%;
  margin: 0 auto;
}
.about-me h2 {
  font-size: 3.5rem;
  color: var(--btn-color);
  -webkit-text-stroke: 3px var(--main-color);
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 2rem;
  position: relative;
}
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: left;
}
.info-box {
  flex: 1 1 55%;
  opacity: 0;
  transform: translateX(-3rem);
  transition: var(--transition);
}
.info-box.active1 {
  opacity: 1;
  transform: translateX(0);
}
.info-box p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  color: var(--text-color);
}
.about-image {
  flex: 1 1 35%;
  max-width: 24rem;
  border-radius: 3rem;
  box-shadow: 20px 20px 25px rgb(0, 0, 0, 0.8);
  opacity: 0;
  transform: translateX(3rem);
  transition: var(--transition);
}
.about-image.active2 {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 1200px) {
  .about-image {
    max-width: 17rem;
  }
  .info-box p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media (max-width: 870px) {
  .about-image {
    max-width: 20rem;
  }
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .info-box,
  .about-image {
    width: 100%;
  }
}
@media (max-width: 555px) {
  .about-image {
    max-width: 17rem;
  }
  .info-box p {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
.experience {
  position: relative;
  width: 100%;
  min-height: 95vh;
  padding-top: 4rem;
  box-sizing: border-box;
  text-align: center;
}

.experience .timeline {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.experience .heading {
  font-size: 3.5rem;
  color: var(--btn-color);
  -webkit-text-stroke: 3px var(--main-color);
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
}

.experience .timeline::after {
  content: '';
  position: absolute;
  width: 0.8rem;
  height: 100%;
  background: var(--btn-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.experience .container {
  padding: 0 1rem;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  transition: var(--transition);
}

.experience .container.left {
  left: -4%;
  transform: translateX(2rem);
}

.experience .container.right {
  left: 54%;
  transform: translateX(-2rem);
}

.experience .container.left .content {
  background: var(--main-color);
  box-shadow: -8px 8px 13px rgba(0, 0, 0, 0.5);
}

.experience .container.right .content {
  background: var(--main-color);
  box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.5);
}

.experience .container.left .arrow-icons,
.experience .container.right .arrow-icons {
  position: absolute;
  top: 30%;
}

.experience .container.left .arrow-icons {
  left: 105%;
}

.experience .container.right .arrow-icons {
  left: -11%;
}

.experience .arrow-icons i {
  width: 2rem;
  height: 1.8rem;
  font-size: 2rem;
  border-radius: 50%;
  background: #798ba6;
  color: var(--main-color);
  line-height: 2rem;
}

.experience .left::before,
.experience .right::before {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border: medium solid #eee;
}

.experience .left::before {
  top: 30%;
  right: 0.5%;
  border-width: 1rem 0 1rem 1rem;
  border-color: transparent transparent transparent var(--main-color);
}

.experience .right::before {
  top: 30%;
  left: 0.5%;
  border-width: 1rem 1rem 1rem 0;
  border-color: transparent var(--main-color) transparent transparent;
}

.experience .right::after {
  left: -0.6rem;
}

.experience .content {
  border-radius: 1rem;
  position: relative;
  padding: 0.5rem;
}

.experience .tag {
  font-size: 1.2rem;
  padding: 0.8rem 1rem 0.5rem 1rem;
  text-align: center;
  color: var(--btn-color);
}

.experience .desc {
  padding: 0 1rem 1rem 1rem;
}

.experience .desc p,
.work .container .project .project-text p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.696);
  font-family: 'Nunito', sans-serif;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  text-transform: none;
}

/* Initial hidden transform state */
#cont1,
#cont3,
#cont5 {
  opacity: 0;
  transform: translate(1rem, -4rem);
}

#cont2,
#cont4,
#cont6 {
  opacity: 0;
  transform: translate(-1rem, -4rem);
}

/* When active, return to original position */
#cont1.active1,
#cont2.active2,
#cont3.active3,
#cont4.active4,
#cont5.active5,
#cont6.active6 {
  opacity: 1;
  transform: translate(0, 0);
}

.morebtn {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.morebtn .btn {
  position: relative;
  line-height: 0;
  padding: 1.1rem 1.2rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: var(--btn-color);
  background: var(--main-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.morebtn .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: 'Nunito', sans-serif;
}

.morebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.morebtn .btn:hover {
  background: var(--btn-color);
  color: var(--main-color);
}

.morebtn .btn:hover i {
  transform: translateX(5px);
}

/* Media Queries */
@media (max-width: 870px) {
  .experience .container {
    width: 100%;
    padding: 1rem 2rem;
    left: 4% !important;
  }

  .experience .timeline::after {
    left: 0.5rem;
  }

  .experience .left::before,
  .experience .right::before {
    display: none;
  }

  .experience .container.left .arrow-icons,
  .experience .container.right .arrow-icons {
    left: -5.2%;
    top: 35%;
  }

  .morebtn .btn span {
    font-size: 1.4rem;
  }

  .experience .container.left .content {
    box-shadow: 8px 8px 13px rgba(0, 0, 0, 0.5);
  }

  #cont1,
  #cont2,
  #cont3,
  #cont4,
  #cont5,
  #cont6 {
    transform: translate(-1rem, -4rem);
  }

  #cont1.active1,
  #cont2.active2,
  #cont3.active3,
  #cont4.active4,
  #cont5.active5,
  #cont6.active6 {
    transform: translate(0, 0);
  }
}
/* Start Work */
.work {
  position: relative;
  width: 100%;
  min-height: 90vh;
  box-sizing: border-box;
  padding-top: 6rem;
  text-align: center;
}

.work .work-heading {
  font-size: 3.5rem;
  color: var(--btn-color);
  -webkit-text-stroke: 3px var(--main-color);
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  display: inline-block;
}

.work .work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  gap: 1rem;
  position: relative;
}

.work .project {
  opacity: 0;
  transform: translateY(-3rem);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 1rem);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  background: var(--main-color);
  color: white;
  border: 2px solid var(--main-color);
  overflow: hidden;
}

.work .project.active {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.work .project-main img {
  padding: 1rem;
  width: 100%;
}

.work .project .project-text h2 {
  font-size: 1.8rem;
  color: var(--btn-color);
  margin: 0.5rem 0;
}

.work .project .project-footer {
  margin: 1rem 0;
  padding: 0.7rem;
  width: 7rem;
  border-radius: 21px;
  background: var(--btn-color);
  text-align: center;
}

.work .project .project-footer a,
.work .project .project-footer i {
  color: var(--main-color);
}

/* ========== Responsive ==========  */

@media (max-width: 992px) {
  .work .project {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .work .work-container {
    flex-direction: column;
    align-items: center;
  }

  .work .project {
    width: 100%;
    transform: none !important;
    perspective: none !important;
  }

  .work .project-main {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .work .work-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* End Work */
.contact {
  height: 50rem;
  padding-top: 3rem;
  background-image: url(../imgs/contact.png);
  background-size: contain;
  background-position: center;
  text-align: center;
  position: relative;
}
.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(138 138 138 / 0.2);
}
.contact .container {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
}
#contactLeft {
  opacity: 0;
  transform: translateX(-4rem);
  width: 40%;
  position: absolute;
  top: 28%;
  transition: var(--transition);
}
#contactLeft.active {
  opacity: 1;
  transform: translateX(-1rem);
}

.contact h2 {
  font-size: 3.5rem;
  color: var(--btn-color);
  -webkit-text-stroke: 3px var(--main-color);
  text-align: center;
  margin-top: 5rem;
  position: relative;
  display: inline-block;
}
.contact .contact-pic img {
  width: 18rem;
}
.contact .contact-form {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 25%;
  margin-right: 3%;
  transform: translateX(3rem);

  width: 60%;
  transition: var(--transition);
}
.contact-form.active {
  opacity: 1;
  transform: translateX(0);
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 3rem;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: var(--main-color);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 1rem 0 3rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: #0f60b1c9;
}
.field input::placeholder,
.message textarea::placeholder {
  color: var(--main-color);
}
.field input:focus,
.message textarea:focus {
  padding-left: 3.7rem;
  border: 3px solid var(--main-color);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: var(--main-color);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 12px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 7rem;
  max-height: 15rem;
  padding: 1rem 0 0 3rem;
}
form .message textarea::-webkit-scrollbar {
  width: 0;
}
form .button-area {
  float: right;
}
.button-area button {
  color: var(--btn-color);
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 30px;
  padding: 1rem 1.3rem;
  background: var(--main-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
  font-family: 'Nunito', sans-serif;
}
.button-area button:hover {
  background: var(--btn-color);
  color: var(--main-color);
}
.button-area span {
  font-size: 1rem;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.3rem;
  transition: 0.3s;
  color: var(--btn-color);
}
.button-area button:hover i {
  left: 8px;
  color: var(--main-color);
}
@media (max-width: 870px) {
  #contactLeft.active {
    opacity: 0;
  }
  .contact .contact-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contact {
    min-height: 45rem;
  }
}
.footer {
  background: #0c0d10;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem;
}
.footer .box-container .box {
  flex: 1 1 40%;
  margin: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: var(--btn-color);
}
.footer .box-container .box a {
  font-size: 1.3rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  display: flex;
  height: 3rem;
  justify-content: center;
  padding-top: 0.7rem;
  width: 3rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  box-shadow: 0 0 10px;
  margin-right: 1rem;
  transition: 0.5s;
  background: var(--main-color);
  color: var(--btn-color);
}
.footer .box-container .box .share a:hover {
  background: var(--btn-color);
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: var(--main-color);
}
.footer .credit {
  position: relative;
  width: 100%;
  height: 3rem;
  transform: translateY(2px);
  background: var(--main-color);
  border-top: 0.1rem solid #fff3;
}
.footer .container {
  position: absolute;
  padding: 0.6rem 0 0 0;
  width: 80%;
  left: 10%;
  text-align: center;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #fff;
}
.footer .credit i,
.footer .credit a {
  color: var(--btn-color);
  font-size: 1.2rem;
}
@media (max-width: 870px) {
  .footer .box-container .box {
    text-align: center;
  }
  .footer .box-container .box h3 {
    font-size: 1.6rem;
  }
  .footer .box-container .box .share {
    justify-content: center;
  }
  .footer .box-container .box {
    flex: 1 1 50%;
  }
}

.about-me h2::before,
.experience .heading::before,
.work .work-heading::before,
.contact h2::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -5px;
  background-color: var(--main-color);
  animation: underlineGrow 2s infinite linear;
}
@keyframes underlineGrow {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
#scroll-top {
  position: fixed;
  bottom: 5%;
  right: -5rem;
  padding: 1.1rem 0.7rem;
  font-size: 1.6rem;
  width: 2.6rem;
  height: 3.8rem;
  background: var(--main-color);
  color: var(--btn-color);
  border-radius: 15px;
  transition: 0.3s;
  z-index: 1000;
}
#scroll-top:hover {
  background: var(--btn-color);
  color: var(--main-color);
}
#scroll-top.active {
  right: 1rem;
}
