@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
:root {
  --main-color: rgb(5 8 22);
  --btn-color: #1d7ddd;
  --heading-color: #000000;
  --text-color: #444444;
  --p-color: #ffffff;
  --background-color: #8a9ab6;
  --transition: all 0.5s ease-in-out;
  --border-radius: 3rem;
  --boxL-shadow: -8px 8px 7px rgba(0, 0, 0, 0.5);
  --boxR-shadow: 8px 8px 7px rgba(0, 0, 0, 0.5);
  --box-shadow2: 15px 15px 15px rgb(70 55 10 / 80%);
  --box-shadow3: 0 6px 12px rgba(50, 47, 24, 0.6);
  --form-color: #696a6d7a;
}
.dark-theme {
  --background-color: rgb(50 61 71);
  --text-color: #ffffff;
  --heading-color: #98a3b5;
  --form-color: #a2a2a2;
  --boxL-shadow: -8px 8px 8px rgb(107 107 107 / 50%);
  --boxR-shadow: 8px 8px 8px rgb(107 107 107 / 50%);
  --box-shadow2: 15px 15px 15px rgb(150 149 149 / 80%);
  --box-shadow3: 0 4px 12px rgba(173, 173, 173, 0.4);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn-color) var(--main-color);
}
html {
  font-size: 90%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--background-color);
  overflow: hidden;
}
h2 {
  line-height: 0.8;
}
.header-area {
  position: fixed;
  background: var(--main-color);
  z-index: 1000;
  height: 5rem;
  width: 100%;
  box-shadow: var(--box-shadow3);
}
.header-area .container {
  top: 20%;
  left: 10%;
  padding: 1.7rem;
  position: absolute;
  width: 80%;
}
.header-area .logo {
  left: 0;
  position: absolute;
  top: 0;
}
.header-area .logo img {
  width: 3rem;
}
.header-area .theme-btn {
  position: absolute;
  top: 0.4rem;
  display: flex;
  left: calc(50% - 2.5rem);
  background: #8090ab;
  width: 5rem;
  height: 2.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.header-area .theme-btn .sun {
  color: white;
}
.header-area .theme-btn .moon {
  color: black;
}
.header-area .theme-btn span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.header-area .theme-btn .active {
  background-color: #3e3e3e;
  border-radius: var(--border-radius);
  color: var(--btn-color);
}
.header-area .links-container {
  position: fixed;
  right: 10%;
  top: 1.9rem;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in;
  background: #050816d6;
  border-radius: 1.2rem;
}
.header-area .links-container.active {
  top: 4rem;
  opacity: 1;
}
.header-area .links li {
  display: inline-block;
  margin-left: 0.9rem;
}
.header-area .links li a {
  color: var(--btn-color);
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s ease;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header-area .links li a::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 4rem;
  border-radius: var(--border-radius);
  background-color: var(--btn-color);
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.header-area .links li a:hover::before {
  transform: translateX(-50%) scaleX(1);
}
.header-area .toggle-menu {
  background: none;
}
.toggle-menu .bar {
  border-radius: 2px;
  transition: 0.8s;
}
.header-area .toggle-menu span {
  display: block;
  background-color: var(--btn-color);
  height: 0.29rem;
  margin-bottom: 0.5rem;
}
.toggle-menu.active .top {
  transform: rotate(-132deg) translate(-0.8rem, -0.6rem);
}
.toggle-menu.active .middle {
  opacity: 0;
}
.toggle-menu.active .bottom {
  transform: rotate(-48deg) translate(0.4rem, -0.4rem);
}
@media (max-width: 870px) {
  .header-area .toggle-menu {
    position: absolute;
    cursor: pointer;
    width: 2.4rem;
    height: 2.5rem;
    top: 0.6rem;
    right: 0;
  }
  .header-area .links-container {
    width: 100%;
    right: 0;
    top: -100%;
  }
  .header-area .links {
    display: grid;
    width: 100%;
  }
  .header-area .links li {
    margin-left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  .header-area .links li a {
    font-size: 1.7rem;
  }
  .header-area .links li a::before {
    bottom: -2px;
    width: 6rem;
  }
}
/* Start Home Page */
.home-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.home-page .container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#home {
  opacity: 0;
  width: 55%;
  transform: translateX(-3rem);
  transition: all 0.5s ease-in;
  z-index: 1;
}
#home.active1 {
  opacity: 1;
  transform: translateX(0);
}
.introduction-text h2,
.about-me h2,
.experience .heading,
.work .work-heading,
.contact h2 {
  font-size: 3.5rem;
  line-height: 0.9;
  color: var(--heading-color);
}
.introduction-text .content h2 span {
  color: var(--btn-color);
  -webkit-text-stroke: 3px var(--heading-color);
}
.introduction-text p {
  font-size: 1.7rem;
  line-height: 1.1;
  margin-top: 0.5rem;
  font-style: italic;
  color: var(--text-color);
  font-weight: 600;
}
.introduction-text .about-btn {
  margin: 0.9rem 0;
  display: flex;
  gap: 0.8rem;
}
.introduction-text .btn,
.introduction-text .btn2 {
  padding: 0.9rem 0.11rem;
  width: 9rem;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  color: var(--btn-color);
  background: var(--main-color);
  box-shadow: var(--box-shadow3);
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}
.introduction-text .btn:hover,
.introduction-text .btn2:hover {
  background: var(--btn-color);
  color: var(--main-color);
}
.introduction-text .btn:hover i,
.introduction-text .btn2:hover i {
  transform: translateX(5px);
}
#typing {
  font-weight: bold;
  color: var(--text-color);
  border-right: 4px solid var(--btn-color);
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 0.8s steps(1) infinite;
  min-width: 28ch;
}
@keyframes blinkCursor {
  0%,
  50% {
    border-color: #4da3ff;
  }
  51%,
  100% {
    border-color: transparent;
  }
}
.socials .social-icons {
  width: 100%;
}
.socials .social-icons li {
  display: inline-block;
}
.social-icons a {
  font-size: 3rem;
  display: inline-block;
  line-height: 4rem;
  color: var(--btn-color);
  background-color: var(--main-color);
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 1.3rem;
  box-shadow: var(--box-shadow3);
}
.social-icons a:hover {
  color: var(--main-color);
  background-color: var(--btn-color);
}
.tilt-wrapper,
.about-image {
  opacity: 0;
  max-width: 22rem;
  transform: translateX(3rem);
  width: 100%;
  transition: var(--transition);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow2);
}
.home-page .active2 {
  opacity: 1;
  transform: translateX(0);
}
.tilt-wrapper:hover img {
  transform: scale(1.05);
}
@media (max-width: 870px) {
  .home-page .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    height: auto;
    text-align: center;
  }
  #home {
    width: 100%;
    margin-top: 4rem;
  }
  .tilt-wrapper {
    position: relative;
    top: auto;
    margin: 3rem 0;
  }
  .tilt-wrapper.active2 {
    left: 0;
  }
  .introduction-text .about-btn {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  #home {
    margin-top: 6rem;
  }
  .introduction-text .content h2 {
    font-size: 2.3rem;
  }
  .introduction-text .content h2 span {
    -webkit-text-stroke: 2px var(--heading-color);
  }
  .introduction-text .content p {
    font-size: 1.2rem;
  }
  .introduction-text .btn,
  .introduction-text .btn2 {
    font-size: 0.8rem;
    width: 5.5rem;
    padding: 0.7rem 0.1rem;
  }
  .social-icons a {
    font-size: 1.6rem;
    line-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
/* End Home Page */
.about-me {
  padding-top: 3rem;
  text-align: center;
  min-height: 75vh;
}
.about-me .container {
  width: 80%;
  margin: 0 auto;
}
.about-me h2,
.experience .heading {
  font-size: 3.5rem;
  color: var(--btn-color);
  -webkit-text-stroke: 3px var(--heading-color);
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
}
.about-image {
  flex: 1 1 40%;
  transform: translateY(3rem);
}
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: left;
}
.info-box {
  flex: 1 1 50%;
  opacity: 0;
  transform: translateY(-3rem);
  transition: var(--transition);
}
.info-box.active1 {
  opacity: 1;
  transform: translateY(0);
}
.info-box p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--text-color);
}
.about-image.active2 {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 870px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .info-box,
  .about-image {
    width: 100%;
  }
}
@media (max-width: 555px) {
  .info-box p {
    font-size: 1.3rem;
    line-height: 1.2;
  }
}
/* Start Experience */
.experience {
  position: relative;
  width: 100%;
  min-height: 95vh;
  padding-top: 4rem;
  box-sizing: border-box;
  text-align: center;
}
.experience .timeline {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.experience .timeline::after {
  content: '';
  position: absolute;
  width: 0.8rem;
  height: 100%;
  background: var(--btn-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.experience .container {
  padding: 0 1rem;
  position: relative;
  width: 50%;
  box-sizing: border-box;
  transition: var(--transition);
}
.experience .container.left {
  left: -4%;
  transform: translate(2rem, -4rem);
}
.experience .container.right {
  left: 54%;
  transform: translate(-2rem, -4rem);
}
.experience .container.left .content,
.experience .container.right .content {
  background: var(--main-color);
  box-shadow: var(--boxR-shadow);
}
.experience .container.left .content {
  box-shadow: var(--boxL-shadow);
}
.experience .container.left .arrow-icons,
.experience .container.right .arrow-icons {
  position: absolute;
  top: 30%;
}
.experience .container.left .arrow-icons {
  left: 105%;
}
.experience .container.right .arrow-icons {
  left: -11%;
}
.experience .arrow-icons i {
  width: 2rem;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  align-items: center;
  font-size: 3rem;
  border-radius: 10px;
  background: var(--background-color);
  color: var(--main-color);
}
.experience .left::before,
.experience .right::before {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border: medium solid #eee;
}
.experience .left::before {
  top: 30%;
  right: 0.5%;
  border-width: 1rem 0 1rem 1rem;
  border-color: transparent transparent transparent var(--main-color);
}
.experience .right::before {
  top: 30%;
  left: 0.5%;
  border-width: 1rem 1rem 1rem 0;
  border-color: transparent var(--main-color) transparent transparent;
}
.experience .right::after {
  left: -0.6rem;
}
.experience .content {
  border-radius: var(--border-radius);
  position: relative;
  padding: 1.2rem;
}
.experience .tag {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  text-align: center;
  color: var(--btn-color);
}
.experience .desc {
  padding: 0 1rem 1rem 1rem;
}
.experience .desc p,
.work .container .project .project-text p {
  color: var(--p-color);
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  text-align: center;
}
#cont1.active1,
#cont2.active2,
#cont3.active3,
#cont4.active4,
#cont5.active5,
#cont6.active6 {
  opacity: 1;
  transform: translateY(0);
}
.morebtn {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.morebtn .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: 'Nunito', sans-serif;
}
.morebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.morebtn .btn:hover {
  background: var(--btn-color);
  color: var(--main-color);
}
.morebtn .btn:hover i {
  transform: translateX(5px);
}
@media (max-width: 870px) {
  .experience .container {
    width: 100%;
    padding: 1rem 2rem;
    left: 4% !important;
  }
  .experience .timeline::after {
    left: 0.5rem;
  }
  .experience .left::before,
  .experience .right::before {
    display: none;
  }
  .experience .container.left .arrow-icons,
  .experience .container.right .arrow-icons {
    left: -5.2%;
    top: 35%;
  }
  .morebtn .btn span {
    font-size: 1.4rem;
  }
  .experience .container.left .content {
    box-shadow: var(--boxR-shadow);
  }
  #cont1,
  #cont2,
  #cont3,
  #cont4,
  #cont5,
  #cont6 {
    transform: translate(-2rem, -4rem);
  }
  #cont1.active1,
  #cont2.active2,
  #cont3.active3,
  #cont4.active4,
  #cont5.active5,
  #cont6.active6 {
    transform: translateY(0);
  }
}
/* End Experience */
/* Start Work */
.work {
  position: relative;
  width: 100%;
  min-height: 90vh;
  box-sizing: border-box;
  padding-top: 6rem;
  text-align: center;
}
.contact h2,
.work .work-heading {
  font-size: 3.5rem;
  color: var(--btn-color);
  -webkit-text-stroke: 3px var(--heading-color);
  text-align: center;
  margin: 2rem 0;
  position: relative;
  display: inline-block;
}
.work .work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  gap: 1rem;
  position: relative;
}
.work .project {
  opacity: 0;
  transform: translateY(-3rem);
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 1rem);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  background: var(--main-color);
  color: var(--p-color);
  border: 2px solid var(--main-color);
  overflow: hidden;
}
.work .project.active {
  opacity: 1;
  transform: translateY(0);
  box-shadow: var(--box-shadow2);
}
.work .project-main img {
  padding: 1rem;
  width: 100%;
}
.work .project .project-text h2 {
  font-size: 1.8rem;
  color: var(--btn-color);
  margin: 0.5rem 0;
}
.work .project .project-footer {
  margin: 1rem 0;
  padding: 0.7rem;
  width: 7rem;
  border-radius: var(--border-radius);
  background: var(--btn-color);
  text-align: center;
}
.work .project .project-footer a,
.work .project .project-footer i {
  color: var(--main-color);
}

@media (max-width: 992px) {
  .work .project {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .work .work-container {
    flex-direction: column;
    align-items: center;
  }

  .work .project {
    width: 100%;
    transform: none !important;
    perspective: none !important;
  }

  .work .project-main {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .work .work-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* End Work */
.contact {
  height: 45rem;
  background-image: url(../imgs/contact.png);
  background-size: contain;
  background-position: center;
  text-align: center;
  position: relative;
}
.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(138 138 138 / 0.2);
}
.contact .container {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
}
#contactLeft {
  opacity: 0;
  transform: translateX(-4rem);
  width: 40%;
  position: absolute;
  top: 22%;
  transition: var(--transition);
}
#contactLeft.active {
  opacity: 1;
  transform: translateX(-1rem);
}
.contact .contact-pic img {
  width: 19rem;
}
.contact .contact-form {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 20%;
  margin-right: 3%;
  transform: translateX(3rem);
  width: 60%;
  transition: var(--transition);
}
.contact-form.active {
  opacity: 1;
  transform: translateX(0);
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 3.5rem;
  display: flex;
  position: relative;
  margin: 0.5rem 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: var(--main-color);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 1rem 0 3rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: #0f60b1c9;
}
.field input::placeholder,
.message textarea::placeholder {
  color: var(--main-color);
}
.field input:focus,
.message textarea:focus {
  padding-left: 3.7rem;
  border: 2px solid var(--main-color);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: var(--main-color);
}
form .message {
  position: relative;
  margin: 0.5rem 1rem;
  width: 100%;
}
form .message i {
  font-size: 1.4rem;
  top: 2rem;
  left: 1.2rem;
}
form .message textarea {
  min-height: 8rem;
  padding: 1rem 0 0 3.5rem;
}
form .message textarea::-webkit-scrollbar {
  width: 0;
}
form .button-area {
  float: right;
}
.button-area button,
.morebtn .btn {
  color: var(--btn-color);
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 1rem 1.3rem;
  background: var(--main-color);
  box-shadow: var(--box-shadow3);
  transition: 0.3s ease;
  font-family: 'Nunito', sans-serif;
}
.button-area button:hover {
  background: var(--btn-color);
  color: var(--main-color);
}
.button-area span {
  font-size: 1rem;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.3rem;
  transition: 0.3s;
  color: var(--btn-color);
}
.button-area button:hover i {
  left: 8px;
  color: var(--main-color);
}
@media (max-width: 870px) {
  #contactLeft.active {
    opacity: 0;
  }
  .contact .contact-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contact {
    min-height: 45rem;
  }
}
.footer {
  position: relative;
  background: black;
  width: 100%;
  height: 42rem;
  font-family: 'Nunito', sans-serif;
}
.footer .box-container {
  display: flex;
  position: absolute;
  padding-top: 3rem;
  left: 10%;
  width: 80%;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 40%;
  margin: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.footer .box-container .box:first-child p {
  line-height: 1.8;
}
.footer .box-container .box p {
  font-size: 1rem;
  line-height: 1;
  color: #ccc;
  padding: 0.4rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: var(--btn-color);
}
.footer .box-container .box a {
  font-size: 1.3rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.footer .box-container .box .share a {
  display: flex;
  font-size: 3.5rem;
  margin-right: 0.5rem;
  color: var(--btn-color);
  background: transparent;
}
.footer .credit {
  position: absolute;
  width: 100%;
  top: calc(100% - 2.5rem);
  height: 2.5rem;
  padding-top: 0.8%;
  text-align: center;
  background: var(--btn-color);
  border-top: 0.1rem solid #fff3;
}
.credit .container {
  font-size: 1rem;
  position: absolute;
  width: 80%;
  left: 10%;
}
.footer .credit i,
.footer .credit a {
  color: var(--main-color);
}
@media (max-width: 870px) {
  .footer {
    height: 42rem;
  }
  .footer .box-container .box {
    text-align: center;
    margin: 1rem 0;
  }
  .footer .box-container .box h3 {
    font-size: 1.6rem;
  }
  .footer .box-container .box .share {
    justify-content: center;
  }
  .footer .box-container .box {
    flex: 1 1 55%;
  }
  .footer .credit {
    padding-top: 0.7rem;
  }
  .credit .container {
    font-size: 0.8rem;
  }
}
@media (max-width: 505px) {
  .footer {
    height: 48rem;
  }
}
.about-me h2::before,
.experience .heading::before,
.work .work-heading::before,
.contact h2::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 0%;
  left: 0;
  bottom: -7px;
  background-color: var(--heading-color);
  animation: underlineGrow 2s infinite linear;
}
@keyframes underlineGrow {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
#scroll-top {
  position: fixed;
  bottom: 5%;
  right: -5rem;
  padding: 1.1rem 0.7rem;
  font-size: 1.6rem;
  width: 2.6rem;
  height: 3.8rem;
  background: var(--main-color);
  color: var(--btn-color);
  border-radius: 15px;
  transition: 0.3s;
  z-index: 1000;
}
#scroll-top:hover {
  background: var(--btn-color);
  color: var(--main-color);
}
#scroll-top.active {
  right: 1rem;
}
